* {
  line-height: 1.6 !important;
  font-size: 98%;
}

h2 {
  background-color: #d3dfff;
  font-size: 100%;
  padding: 3px 5px 3px ;
  margin: 20px 0 10px ;
}

.sidebar-module .title {
  clear:both;
  border-bottom: 1px solid #E5E5E5;
  margin: 0 0 10px;
  padding: 0 0 3px;
}

.sidebar-module .id {
  font-weight: bold;
  font-size: 70%;
}

.sidebar-module {
  margin: 0 0 30px;
  padding: 0;
  text-align: left;
}

/*--------------------------------------------------------
 * Social button
 * --------------------------------------------------------*/
ul.social li{
  list-style-type: none;
  float: left !important;
  margin-top: 15px;
}

li.facebook {
  width: 100px;
}

li.twitter {
  width: 100px;
}

li.hatena-bookmark {
  width: 60px;
}

.kindleWidget {
  display:inline-block;
  padding:3px;
  cursor:pointer;
  font-size:11px;
  font-family:sans-serif;
  border-radius:3px;
  border:#ccc thin solid;
  color:black;
  background:transparent url('https://d1xnn692s7u6t6.cloudfront.net/button-gradient.png') repeat-x;background-size:contain;
}

footer {
  clear:both;
  width:100%;
  text-align:center;
}
