.sidebar-module .title {
  border-bottom: 1px solid #E5E5E5;
  margin: 0 0 10px;
  padding: 0 0 3px;
}

.sidebar-module .id {
  font-weight: bold;
  font-size: 70%;
}

.sidebar-module {
  margin: 0 0 30px;
  padding: 0;
  text-align: left;
}

/*--------------------------------------------------------
 * Social button
 * --------------------------------------------------------*/
ul.social li{
  list-style-type: none;
  float: left !important;
  margin-top: 15px;
}

li.facebook {
  width: 100px;
}

li.twitter {
  width: 100px;
}

li.hatena-bookmark {
  width: 60px;
}

footer {
  clear:both;
  width:100%;
  text-align:center;
}
